/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.04.2014, 18:07:47
    Author     : supersonic
*/

body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #FFFFCC;
}